name: Snowflake Terraform Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Import (接管现有 Schema 防止报错)
        # continue-on-error 是关键：如果 Schema 已被接管过，报错也会继续执行下一步
        continue-on-error: true 
        env:
          SNOWFLAKE_ORGANIZATION_NAME: "TMJESFF"
          SNOWFLAKE_ACCOUNT_NAME:      "ED32433"
          SNOWFLAKE_USER:              ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PASSWORD:          ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ROLE:              "ACCOUNTADMIN"
        run: |
          cd terraform
          # 将云端的 COSMETICS 架构导入到代码中的 cosmetics_schema 资源
          terraform import snowflake_schema.cosmetics_schema "\"COSMETICS_DB_DEV\".\"COSMETICS\""

      - name: Terraform Apply
        env:
          SNOWFLAKE_ORGANIZATION_NAME: "TMJESFF"
          SNOWFLAKE_ACCOUNT_NAME:      "ED32433"
          SNOWFLAKE_USER:              ${{ secrets.SNOWFLAKE_USER }}
          SNOWFLAKE_PASSWORD:          ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_ROLE:              "ACCOUNTADMIN"
        run: |
          cd terraform
          terraform apply -auto-approve